* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 50px 174px 100px auto 50px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: navajowhite;
    gap: 16px;
    margin: 10px;
    grid-template-areas:
    "header vierkantC vierkantC"
    "text vierkantC vierkantC"
    "text vierkantE vierkantD"
    "text vierkantE ."
    "footer footer footer";

}

header, #text, #vierkantC, #vierkantD, #vierkantE, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    color: white;
}


header {
    background-color: indianred;
    grid-area: header;
}

#text {
    background-color: indianred;
    grid-area: text;
}

#vierkantC {
    background-color: indianred;
    grid-area: vierkantC;
}

#vierkantD {
    background-color: indianred;
    grid-area: vierkantD;
}

#vierkantE {
    background-color: indianred;
    grid-area: vierkantE;
}

footer {
    background-color: indianred;
    grid-area: footer;
}

@media screen and (max-width: 576px) {
    body {
        display: grid;
        grid-template-rows:50px auto 50px 50px 50px 50px 50px;
        grid-template-columns: 1fr;
        background-color: navajowhite;
        grid-template-areas:
        "header"
        "text"
        "vierkantC"
        "vierkantD"
        "vierkantE"
        "."
        "footer";
    }
}
