* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 50px 174px 100px auto 50px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: navajowhite;
    gap: 16px;
    margin: 10px;
    grid-template-areas:
    "header vierkantC vierkantC"
    "text vierkantC vierkantC"
    "text vierkantE vierkantD"
    "text vierkantE ."
    "footer footer footer";

}

header, #text, #vierkantC, #vierkantD, #vierkantE, footer {
    border-style: solid;
    border-color: black;
    color: white;

}


header {
    background-color: indianred;
    grid-area: header;
    text-align: center;
}

#text {
    background-color: indianred;
    grid-area: text;
}

#vierkantC {
    background-color: indianred;
    grid-area: vierkantC;
    text-align: center;
}

#vierkantD {
    background-color: indianred;
    grid-area: vierkantD;
    text-align: center;
}

#vierkantE {
    background-color: indianred;
    grid-area: vierkantE;
    text-align: center;
}

footer {
    background-color: indianred;
    grid-area: footer;
    text-align: center;
}

@media screen and (max-width: 576px) {
    body {
        display: grid;
        grid-template-rows:50px auto 50px 50px 50px 50px 50px;
        grid-template-columns: 1fr;
        background-color: navajowhite;
        grid-template-areas:
        "header"
        "text"
        "vierkantC"
        "vierkantD"
        "vierkantE"
        "."
        "footer"

    }


}
